* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
	--grid-row-gap-value: 10px;
}

.container {
	display: grid;
	grid-template-rows: 100px 470px 150px;
	margin: 2rem auto;
	width: 1000px;
}
.main {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 680px 300px;
}
	.main__content { 
		display: grid;
		grid-row-gap: var(--grid-row-gap-value);
		grid-template-rows: 230px 230px;
	}
	.main__sidebar {
		display: grid;
		grid-row-gap: var(--grid-row-gap-value);
		grid-template-rows: 150px 150px 150px;
	}